/* HEADER AO ROLAR */

.header-scroll{
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    transition:.3s;
}

/* ANIMAÇÃO DOS CARDS */

.card,
.testimonial-card,
.stats-box,
.about-image{
    opacity:0;
    transform:translateY(30px);
    transition:.7s;
}

.card.show,
.testimonial-card.show,
.stats-box.show,
.about-image.show{
    opacity:1;
    transform:translateY(0);
}

/* FAQ */

.faq-answer{
    max-height:0;
    overflow:hidden;
    transition:.3s;
}

.faq-item.active .faq-answer{
    max-height:200px;
    padding-top:15px;
}
